<div class="jumbotron">
    <div class="container">
        <h1>Courses</h1>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row" id="courseContainerWrapper">
        <div class="col-md-4" ng-repeat="course in courseList">
            <img src="img/course1.jpg">
            <h3>Online IBPS Exams</h3>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary testLogin" ng-click="activateCourse()" href="#" role="button">Perform Exam &raquo;</a></p>
        </div>
    </div>
</div>