<!--div  class="navbar navbar-inverse navbar-fixed-top addOpa"></div-->
<div id="socialLink">
    <img src="img/socialLink.png" alt="social link"/>
    <div class="socialLinkToggle">
        <ul class="socialIcon">
            <li class="google" title='Google'>Google</li>
            <li class="facebook" title='Facebook'>Facebook</li>
            <li class="linkedIn" title='LinkedIn'>LinkedIn</li>
            <li class="yahoo" title='Yahoo'>Yahoo</li>
            <li class="windows" title='Windows'>Windows</li>
            <li class="github" title='GitHub'>GitHub</li>
            <li class="twitter" title='Twitter'>Twitter</li>
            <li class="dropBox" title='DropBox'>DropBox</li>
            <li class="instagram" title='Instagram'>Instagram</li>
            <li class="soundcloud" title='Soundcloud'>Soundcloud</li>
            <li class="foursquare" title='Foursquare'>Foursquare</li>
            <li class="flickr" title='Flickr'>Flickr</li>
        </ul>
    </div>
</div>
<div  class="carousel">

    <div class="container mainCarouselWrapper">
        <!--div class="slideAnimTransition"></div-->
        <div class="slideAnimTableWrapper">
            <div class="slideAnim">
                <div  class="slideAnimTableRow">
                    <h2 class="msgAnim"><span  class="slideAnimIcon"><img src="img/pi.jpg"/></span></h2>
                </div>
            </div>
        </div>

    </div>
    <ul class="socialIconAction socialIcon">
        <!--li class="msgLi">Sign in now</li-->
        <li class="google" title='Google'>Google</li>
        <li class="facebook" title='Facebook'>Facebook</li>
        <li class="linkedIn" title='LinkedIn'>LinkedIn</li>
        <!--li class="yahoo" title='Yahoo'>Yahoo</li>
        <li class="windows" title='Windows'>Windows</li>
        <li class="github" title='GitHub'>GitHub</li-->
        <li class="twitter" title='Twitter'>Twitter</li>
        <!--li class="dropBox" title='DropBox'>DropBox</li-->
        <li class="instagram" title='Instagram'>Instagram</li>
        <!--li class="soundcloud" title='Soundcloud'>Soundcloud</li-->
        <!--li class="foursquare" title='Foursquare'>Foursquare</li-->
        <li class="flickr" title='Flickr'>Flickr</li>
    </ul>
</div>
<div class="section">

    <div class="container secondaryNavHome">

        <div class="row">
            <div class="col-lg-4 col-md-4 student">
                <img src="img/iAMStudent.png">
                <h3 ><i class="fa fa-check-circle"></i> I am a student</h3>
            </div>
            <div class="col-lg-4 col-md-4 educator">
                <img src="img/iAmEducator.png">
                <h3 ><i class="fa fa-pencil"></i>I am an educator</h3>
            </div>
            <div class="col-lg-4 col-md-4 institute">
                <img src="img/instutions.png" >
                <h3 ><i class="fa fa-folder-open"></i>An Educational Institute</h3>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="student active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="student" ></li>
        <li data-target="#myCarousel" data-slide-to="2" class="student"></li>
        <li data-target="#myCarousel" data-slide-to="3" class="educator"></li>
        <li data-target="#myCarousel" data-slide-to="4" class="educator"></li>
        <li data-target="#myCarousel" data-slide-to="5" class="educator"></li>
        <li data-target="#myCarousel" data-slide-to="6" class="institute"></li>
        <li data-target="#myCarousel" data-slide-to="7" class="institute"></li>
        <li data-target="#myCarousel" data-slide-to="8" class="institute"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active student">
            <div class="fill" style="background-image:url('img/hero.jpg');"></div>
            <div class="carousel-caption">
                <h3>Discover your weaknesses</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/discover.gif"/>Omoknow offers extremely sharp insight into your cognitive state. Learn about your improvement areas and improve your focus on areas of improvements.


                    </p>
                </div>
            </div>
        </div>
        <div class="item student">
            <div class="fill" style="background-image:url('img/heroClimb.jpg');"></div>
            <div class="carousel-caption">
                <h3>Take as many tests as you like.</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/tests.gif"/>Omoknow offers almost an infinite number of questions and full length tests – static as well as adaptive so you are never short of test papers. And yes, we will never offer the same problem to you EVER again.

                    </p>
                </div>
            </div>
        </div>
        <div class="item student">
            <div class="fill" style="background-image:url('img/hero2.jpg');"></div>

            <div class="carousel-caption">
                <h3> Continuously Assess And Improve you Capability.</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/assess.gif"/>Use our performance benchmarking tool for real-time assessment and benchmarking. Our intelligent feedback engine integrates with our large data set of historic user interaction and assessment and offers unique peep into student’s capability and cognitive state.
                    </p>
                </div>
            </div>
        </div>
        <div class="item educator">
            <div class="fill" style="background-image:url('img/hero2.jpg');"></div>

            <div class="carousel-caption">
                <h3>Increase Focus On Your Students</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/focusStudent.gif"/>We take the burden of content creation so that you don’t have to. If you still want to create your own private content, user our custom built rapid authoring tool. We will keep your data just for you.

                    </p>
                </div>
            </div>

        </div>
        <div class="item educator">
            <div class="fill" style="background-image:url('img/hero2.jpg');"></div>

            <div class="carousel-caption">
                <h3>Assess The True Cognitive State Of Your Student</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/trueStudent.gif"/>Omoknow platform intelligently renders problems of varying complexity while ensuring that a student will never get the same question again.


                    </p>
                </div>
            </div>

        </div>
        <div class="item educator">
            <div class="fill" style="background-image:url('img/hero2.jpg');"></div>

            <div class="carousel-caption">
                <h3>Adapt Swiftly to Your Students Needs</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/swiftStudent.gif"/>Adapt teaching strategy according to student’s needs OR let us recommend the most suitable course roadmap. We generate razor sharp recommendation based on past user performance and historic user interaction data.


                    </p>
                </div>
            </div>

        </div>
        <div class="item institute">
            <div class="fill" style="background-image:url('img/hero2.jpg');"></div>
            <div class="carousel-caption">
                <h3>Offer as many assessment/ practice tests as you like</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/manyAssessments.gif"/>Our approach to knowledge engineering is no different than engineering the software platform itself. We take each problem as an algorithm and build rapid randomizers for each problem yet, we guarantee that a student will never get the same problem EVER again.

                    </p>
                </div>
            </div>

        </div>
        <div class="item institute">
            <div class="fill" style="background-image:url('img/hero2.jpg');"></div>
            <div class="carousel-caption">
                <h3>Continuously Assess And Improve The Capability Of Your Class</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/continuosAssessment.gif"/>Use our performance benchmarking tool for real-time assessment and benchmarking. Our intelligent feedback engine integrates with our large data set of historic user interaction and assessment and offers unique peep into student’s capability and cognitive state.
                    </p>
                </div>
            </div>

        </div>
        <div class="item institute">
            <div class="fill" style="background-image:url('img/hero2.jpg');"></div>

            <div class="carousel-caption">
                <h3>Increase Focus On Your Students</h3>
                <div class="contentWrapper clearfix">
                    <p><img src="img/focusStudent.gif"/>We take the burden of content creation so that you don’t have to. If you still want to create your own private content, user our custom built rapid authoring tool. We will keep your data just for you.

                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<section>
    <div class="slide aboutUs">
        <div class="container">
            <div class="col-md-12">
                <h2> About us</h2>
                <div>
                    Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here
                    Lorem ipsum about us . About us content goes here
                    Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here
                    Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here
                    Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here
                    Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here
                    Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here
                    Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here Lorem ipsum about us . About us content goes here
                    <div>
                    </div>
                </div>
            </div>
</section>
<!-- /.container -->
