
<div class="panel panel-info">
    <div class="panel-heading clearfix">
        <b>{{currentExam.name}}</b>
        <ul class="nav navbar-nav navbar-right">
            <li><h3><span class="glyphicon glyphicon-time"></span> Time Remaining:<br> <span id="timer"/></h3> </li>
        </ul>
    </div>

    <div class="panel-body" style="height: 400px">
        <div dynamic-tabs tabs-base-id="content-tab" ng-model="tabsData"></div>
    </div>

    <div class="panel-footer clearfix">
        <div class="col-md-4">
            <!--div class="btn-group btn-group-sm"-->
                <button type="button" class="btn btn-primary" ng-click="previousQuestion()" ng-disabled="currentQuestionNumber<1">
                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                </button>
                <button type="button" class="btn btn-primary" ng-click="nextQuestion()" ng-disabled="currentQuestionNumber>questions.length-2">
                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            <!--/div-->
        </div>

        <div class="col-md-4">
            <!--div class="btn-group btn-group-sm"-->
                <button type="button" class="btn btn-primary" ng-click="reviewAndNextQuestion()" ng-disabled="currentQuestionNumber>questions.length-2">
                    <span class="glyphicon glyphicon-flag"></span> Review & Next
                </button>
                <!-- <button type="button" class="btn btn-primary" ng-click="nextQuestion()" disabled>
                    <span class="glyphicon glyphicon-eye-open"></span> Review Questions
                </button> -->
            <!--/div-->
        </div>

        <div class="col-md-4">
            <!--div class="btn-group btn-group-sm pull-right"-->
                <button type="button" class="btn btn-primary" ng-click="submitTest()">
                    <span class="glyphicon glyphicon-log-out"></span> Submit Test
                </button>
            <!--/div-->
        </div>
    </div>
</div>