<br/>
<div class="panel panel-default">
    <div class="panel-body">
        <!-- Table -->
        <table class="table  table-bordered">
            <thead>
                <tr class="info">
                    <th>Exam Series</th>
                    <th>Exam Name</th>
                    <th>Code</th>
                    <th>Total Questions</th>
                    <th>Total Time</th>
                    <th>Maximum Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{currentExam.category}}</td>
                    <td>{{currentExam.package_name}}</td>
                    <td>{{currentExam.test_code}}</td>
                    <td>{{currentExam.total_questions}}</td>
                    <td>{{currentExam.total_time}}</td>
                    <td>{{currentExam.maximum_marks}}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <h4><b>General Instructions:</b></h4>
            <h5><b>Please read the following instructions very carefully:</b></h5>

            <h5>1. You have {{currentExam.total_time}} to complete the test.</h5>
            <h5>2. The test contains a total of {{currentExam.total_questions}} questions.</h5>
            <h5>3. There is only one correct answer to each question. Click on the most appropriate option to mark it as your answer.</h5>
            <h5>4. You will be awarded One mark for each correct answer.</h5>
            <h5>5. There is 0.25 penalty mark for each wrong answer.</h5>
            <h5>6. You can change your answer by clicking on some other option.</h5>
            <h5>7. You can unmark your answer by clicking on the “Deselect” button.</h5>
            <h5>8. You can flag a question for reviewing it later by clicking on the “Flag” button. Once clicked, the button changes to “Unflag”. Click “Unflag” to unflag the question.</h5>
            <h5>9. You can move back and forth between the questions by clicking the buttons “Previous” and “Next” respectively.</h5>
            <h5>10. A Number list of all questions appears at the right hand side of the screen. You can access the questions in any order within a section or across sections by clicking on the question number given on the number list.</h5>
            <h5>11. You can use rough sheets while taking the test. Do not use calculators, log tables, dictionaries, or any other printed/online reference material during the test.</h5>
            <h5>12. Do not click the button “Submit test” before completing the test. A test once submitted cannot be resumed.</h5>
        </div>
    </div>

    <div class="panel-footer">
        <!--<div class="col-md-9">-->
            <h6 class="text-danger"><input type="checkbox" ng-model="agreementDone">  I have read and understood the instructions. I agree that in case of not adhering to exam instructions, I will be disqualified from giving the exam.
        <!--</div>
        <div class="col-md-3">-->
            <a href="#/beginExam" style="color: #f5f5f5" class="pull-right" ng-show="agreementDone">
                <div class="btn btn-primary">Start Exam <span class="glyphicon glyphicon-play"></span></div>
            </a>
            </h6>
        <!--</div>-->

    </div>
</div>
