<div ng-hide="uploadQuestions">
	<h3>Upload Questions</h3>
	<hr>
	<div>		
		<div class="pull-right">
			<a class="btn btn-success btn-xs" href="QuestionSample.xls">Download Sample Excel</a>
		</div>
		<div>
			<input type="file" onchange="angular.element(this).scope().setFiles(this)" />
		</div>
	</div>	 
	 <br>
	<div class="btn btn-primary" ng-click="upload()">Upload</div>
</div>
<div ng-show="uploadQuestions">
	<div class="panel panel-default">
		    <div class="panel-heading">
		        Questions Uploaded
		    </div>
		    <div class="panel-body">
		        <div ng-class="{'btn btn-mini':$index!=currentPage,'btn btn-mini btn-info': $index==currentPage}" ng-click="setPage($index)" 
				 ng-repeat="questiontab in uploadQuestions">
				 	Page {{$index+1}}
				 </div> 
		
		        <div class="col-md-12">
		            <div  style="margin-top: 10px" ng-repeat="questiontab in uploadQuestions">
		                <div id="QuestionDiv_{{$index}}" ng-show="$index==currentPage">
							<!-- <div class="btn btn-success" ng-click="save($index)">Save Sheet {{$index+1}}</div> -->
							
							<div class="col-md-12" ng-show="questiontab.isPassage=='Y'">
								<div class="col-md-3"> <b>Passage :</b> </div>
								<div class="col-md-9"> <div ckeditor contenteditable="true" ng-model="questiontab.passage"></div> </div>
							</div>
							<br>
							<div class="col-md-12" ng-repeat="question in questiontab.questions">
								<div class="col-md-12"> 
									<div class="col-md-3"> <b>Question {{$index+1}}</b> </div>
									<div class="col-md-9"> <div ckeditor contenteditable="true" ng-model="question.questionStatement"></div> </div>
								</div>
								<div class="col-md-12" ng-repeat="option in question.options"> 
									<div class="col-md-1"> <input type="checkbox" ng-model="question.options[$index].correct"> </div>
									<div class="col-md-10"> <div ckeditor contenteditable="true" ng-model="question.options[$index].optionValue"></div> </div>
								</div>
							</div>			
						</div>
		                <hr/>
		            </div>
		        </div>
		
		    </div>
		
		    <div class="panel-footer clearfix">
		        <div class="btn btn-success" ng-click="save()">Save</div>		
		    </div>
	</div>
</div>