<div ng-hide="uploadQuestions">
	<h1>Upload Question xls</h1>

	<a class="btn btn-success" href="QuestionSample.xls">Download
		Sample Excel</a> <input type="file"
		onchange="angular.element(this).scope().setFiles(this)" /> <br>

	<div class="btn btn-primary" ng-click="upload()">upload</div>
</div>
<div ng-show="uploadQuestions">
	<h1>Question</h1>
	
	<div ng-class="{'btn btn-mini':$index!=currentPage,'btn btn-mini btn-info': $index==currentPage}" ng-click="setPage($index)" ng-repeat="questiontab in uploadQuestions">Sheet {{$index+1}}</div> <div class="btn btn-success" ng-click="save()">Save All</div>
	
	
	<div ng-repeat="questiontab in uploadQuestions">
		
		<div id="QuestionDiv_{{$index}}" ng-show="$index==currentPage">
			<div class="btn btn-success" ng-click="save($index)">Save Sheet {{$index+1}}</div>
			
			Grouped Questions : <input type="checkbox" ng-model="questiontab.grouped">
			Direction : <div ckeditor contenteditable="true" ng-model="questiontab.directions" ></div>
			Meta Data
			<div class="span2" ng-repeat="metadata in questiontab.metaData">
				<input type="text" ng-model="questiontab.metaData[$index]">
			</div>
	
			<div ng-repeat="question in questiontab.questions">
				Question : - <div ckeditor contenteditable="true" ng-model="question.question"></div>
	
				<div class="span2" ng-repeat="option in question.options">
					<input type="checkbox" ng-model="question.options[$index].correct">
	
					<div ckeditor contenteditable="true" ng-model="question.options[$index].optionValue"></div>
				</div>
			</div>
		</div>
	</div>
</div>