<div ng-hide="uploadQuestions">
	<h3>Upload Questions</h3>
	<hr>
	<div>		
		<div class="pull-right">
			<a class="btn btn-success btn-xs" href="QuestionSample.xls">Download Sample Excel</a>
		</div>
		<div>
			<input type="file" onchange="angular.element(this).scope().setFiles(this)" />
		</div>
	</div>	 
	 <br>
	<div class="btn btn-primary" ng-click="upload()">Upload</div>
</div>
<div ng-show="uploadQuestions">
	<div class="panel panel-default">
		    <div class="panel-heading">
		        Questions Uploaded
		    </div>
		    <div class="panel-body">
                Page
		        <div ng-class="{'btn btn-mini bth-default':$index!=currentPage,'btn btn-mini btn-info': $index==currentPage}" ng-click="setPage($index)" 
				 ng-repeat="questiontab in uploadQuestions">
				 	{{$index+1}}
				 </div> 
		
		        <div class="col-md-12">
		            <div  style="margin-top: 10px" ng-repeat="questiontab in uploadQuestions">
		                <div id="QuestionDiv_{{$index}}" ng-show="$index==currentPage">
							<!-- <div class="btn btn-success" ng-click="save($index)">Save Sheet {{$index+1}}</div> -->
							
							<div class="col-md-12" ng-show="questiontab.isPassage=='Y'">
								<div class="col-md-2"> <b>Passage :</b> </div>
								<div class="col-md-10"> <div ckeditor contenteditable="true" ng-model="questiontab.passage"></div> </div>
							</div>
							<br>

                            <div class="col-md-12" ng-repeat="question in questiontab.questions">
                                <div class="col-md-12">
                                   <div class="row">
                                        <div class="col-md-6">
                                            <b>Question {{$index+1}}</b> <span ckeditor contenteditable="true" ng-model="question.questions[0].questionStatement"></span>
                                        </div>
                                        <div class="col-md-6" ng-show="question.questions[1].questionStatement">
                                            <b>Question {{$index+1}}</b> <span ckeditor contenteditable="true" ng-model="question.questions[1].questionStatement"></span>
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="option in question.questions[0].options">
                                        <div class="col-md-6">
                                            <input type="checkbox" ng-model="question.questions[0].options[$index].correct">
                                            <span ckeditor contenteditable="true" ng-model="question.questions[0].options[$index].optionValue"></span>
                                        </div>
                                        <div class="col-md-6" ng-show="question.questions[1].options[$index].optionValue">
                                            <input type="checkbox" ng-model="question.questions[1].options[$index].correct">
                                            <span ckeditor contenteditable="true" ng-model="question.questions[1].options[$index].optionValue"></span>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
							<hr/>			
						</div>		                
		            </div>
		        </div>
		
		    </div>
		
		    <div class="panel-footer clearfix">
		        <div class="btn btn-success" ng-click="save()">Save</div>		
		    </div>
	</div>
</div>